
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "utilities.css";
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 665px;
}
#root{
    height: 100%;
}
.app{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    
}

.app > div:first-child{
    position: sticky;
    top:0px;
    left: 0px;
    flex-basis: 225px;
}


.app > div:nth-child(2)
{
    flex-basis: 500px;
}
@media (max-width: 1045px) 
{
    .app > div:first-child{
        flex-basis: 75px;
    }
   
}
@media (max-width: 824px)
{
  .app > div:last-child
  {
      display: none;
  }  
} 